<script src="{% static "omero_autotag/js/bundle.min.js" %}"></script>

<script>

$(function() {
  var pluginIndex = {{ forloop.counter }};
  var url="{% url 'autotag_get_objects' %}";
  var urlIds="{% url 'autotag_get_object_ids' %}";
  var urlUpdate="{% url 'autotag_process_update' %}";
  var urlCreateTag="{% url 'autotag_create_tag' %}";

  $("#auto_tag_panel").omeroweb_center_plugin({
    plugin_index: pluginIndex,        // From the Django template loop
    empty_on_sel_change: false,       // Do not completely erase content when changing selection
    load_plugin_content: function(selected, dtype, oid) {

      // this may have been called before datatree was initialised...
      var datatree = $.jstree.reference('#dataTree');
      if (!datatree) return;

      // We use the tree to access selected objects, since we can traverse
      // to check parents etc...
      // Note: We do not use the parameters selected, dtype or oid as
      // it is easier to use the tree directly as these do not refer to
      // a jstree node
      var tree_selected = datatree.get_selected(true);

      if (tree_selected === undefined) {
        return;
      }

      all_ids = [];
      dataType = tree_selected[0].type;
      tree_selected.forEach(function(selected){
        if (selected.type === 'image') {
          selected = datatree.get_node(datatree.get_parent(selected));
          dataType = "dataset"
        }
        if (selected.type != 'orphaned') {
          all_ids.push(selected.data.obj.id)
        }
      });
      console.log(all_ids);
      autotagform.default(all_ids, dataType, url, urlIds, urlUpdate, urlCreateTag);
    },
    supported_obj_types: [
      'dataset', 'image', 'orphaned', 'tag',
      'project', "screen", "acquisition", "plate"
    ]
  });
});

</script>
